.form-container {
  color: var(--inputLabelText);
  border-radius: 15px;
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form h2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--inputLabelText);
}

form input {
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  border-style: solid;
  border-color: var(--inputBorder);
  color: var(--inputText);
  border-width: 1px;
  padding: 10px;
  font-family: "Raleway";
}

form input:focus {
  border-color: var(--inputBorderFocus);
  outline: none;
}

form input:hover {
  border-color: var(--inputBorderHover);
}

form button {
  font-size: 14px;
  font-family: "Raleway";
}

form button[type="submit"] {
  display: block;
  background-color: var(--brand);
  color: white;
  border: solid var(--brandAccent) 1px;
  border-radius: 15px;
  padding: 10px;
}

form fieldset div {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

form fieldset label {
  font-size: 16px;
}

form .error-message {
  color: red;
  font-size: 12px;
}

form button[type="submit"]:hover,
form button[type="submit"]:disabled {
  background-color: var(--brandAccent);
}

form hr {
  color: var(--dividerBackground);
  width: 90%;
}

form .switch-view {
  background: none;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.thank-you,
.timeout-error {
  max-width: 320px;
  background-color: white;
  color: var(--inputLabelText);
  border-radius: 15px;
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 450px) {
  .thank-you {
    max-width: 210px;
  }
}

.thank-you h2,
.timeout-error h2 {
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.thank-you h2 {
  color: var(--brand);
}

.timeout-error h2 {
  color: var(--messageTextDanger);
}

.thank-you hr,
.timeout-error hr {
  color: var(--dividerColor);
}

.thank-you p,
.timeout-error p {
  line-height: 1.5rem;
  font-size: 0.75rem;
}
