body,
html {
  height: 100%;
}

:root {
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.5rem;
}

em {
  color: #6184d8;
}

body {
  display: grid;
  grid-template-rows: 0.075fr 1fr;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10vw;
}

header picture {
  display: flex;
  align-items: center;
}

header img {
  object-fit: cover;
  height: 2.2em;
  cursor: pointer;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h2 {
  font-size: 0.75rem;
  margin-right: 1em;
}

header button {
  max-width: 300px;
  font-family: "Raleway";
  font-style: italic;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 15px;
  padding: 5px 7.5px;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

section {
  background-color: #f5f5f5;
  padding: 3em;
}

.locations {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 3em;
}

.location {
  margin-bottom: 1.25em;
  flex: 1;
  padding: 1.35em;
  background-color: #d5d5d5;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 650px) {
  header h2 {
    font-size: 0.45rem;
  }

  header button {
    font-size: 0.45rem;
    max-width: 150px;
  }

  header picture img {
    object-fit: contain;
    height: 1em;
  }

  header {
    padding-left: 7vw;
  }

  .location {
    font-size: 0.35rem;
  }

  .locations {
    padding: 1em;
  }

  section {
    padding: 1em;
  }
}

@media (max-width: 300px) {
  header h2 {
    font-size: 0.35rem;
  }

  header button {
    font-size: 0.35rem;
  }

  header picture img {
    object-fit: contain;
    width: 0.7em;
  }
}
